nav(id="main-nav" class="navbar bg-primary")
    .container-xl
        a.logo-link(href="/")
            img#logo(src="/img/long-logo.png" style="height: 50px")
        ul.nav.text-white.align-items-center
            if user
                li.nav-item
                    a.nav-link.text-white(href='/me')
                        img#user-img-btn.rounded-circle(src=`/img/users/${user.photo}`)
                | /
                li.nav-item
                    a.nav-link.text-white(href='/login') Log Out

            else 
                li.nav-item
                    a.nav-link.text-white(href='/signup') Sign up
                | /
                li.nav-item
                    a.nav-link.text-white(href='/login') Log in

