nav#main-nav.navbar.navbar-expand-md.navbar-dark
    .container-fluid.wrapper
        .d-flex.flex-grow-1
            span.w-100.d-md-none.d-block
            a.navbar-brand.d-none.d-md-inline-block(href="/")
                img#logo(src="/img/long-logo.png" alt="logo")
            a.navbar-brand-two.mx-auto.d-md-none.d-inline-block(href="/")
                img#logo(src="/img/long-logo.png" alt="logo")
            .w-100.text-right
                button.navbar-toggler(type="button" data-toggle="collapse" data-target="#myNavbar")
                    span.navbar-toggler-icon
        #myNavbar.collapse.navbar-collapse.flex-grow-1.text-right 
            ul.navbar-nav.ml-auto.flex-nowrap
                if user
                    img#header-user-img.rounded-circle.d-none.d-lg-block(src=`/img/users/${user.photo}`)
                    li.nav-item
                        a(href="/me/settings" class="nav-link m-2 menu-item") My Settings
                    li.nav-item
                        a(href="/me/listings" class="nav-link m-2 menu-item") My Listings
                    li.nav-item
                        a.nav-link-logout(href="#" class="nav-link my-2 mr-0 ml-2 menu-item") Log out
                    
                else
                    li.nav-item
                        a(href="/login" class="nav-link m-2 menu-item") Log In
                    li.nav-item
                        a(href="/signup" class="nav-link m-2 menu-item") Sign Up