extends base


block content
    #forgot-password.container
        .row
            .col.my-5
                .card.card-body
                    h3.pb-4 Happens to the best of us...
                    form.forgot-password-form
                        .form-group
                            label(for="email") Email address
                            input.form-control(type="email" id="forgot-password-email" aria-describedby="emailHelp")
                            small#emailHelp.form-text.text-muted You'll have 10 minutes to reset password.
   
                        button.mb-3(type="submit" class="btn btn-block btn-primary") Forgot Password
