extends base


block content
    #login.container
        .row
            .col.mt-5
                .card.card-body
                    h3.pb-4 Welcome Back!
                    form.login-form
                        .form-group
                            label(for="email") Email address
                            input.form-control(type="email" id="email" aria-describedby="emailHelp")
                        .form-group.pb-3
                            label(for="password") Password
                            input(type="password" class="form-control" id="password" minlength="8")
         
                        .form-group.form-check.pb-3
                            input(type="checkbox" class="form-check-input" id="exampleCheck1")
                            label.form-check-label(for="exampleCheck1") Remember Me
   
                        button.mb-3(type="submit" class="btn btn-block btn-primary") Log in
