extend base

block content
    .container-xxl
        .row
            .col-sm-3.me-links
                ul.nav.flex-column
                    li.nav-item.active
                        a.nav-link(href='/me/settings') My Settings
                    li.nav-item
                        a.nav-link(href='/me/listings') My Listings
                    li.nav-item
                        a.nav-link(href='/me/purchases') My Purchases
                    hr
                    li.nav-item
                        a.nav-link My Seller's page
            .col-sm-9.me-settings
                h4.mt-3 Your Account Settings
                form.user-data
                    .form-group
                        label(for="name") Name
                        input.form-control(type="name" id="update-name" value=`${user.name}`)
                    .form-group
                        label(for="email") Email address
                        input.form-control(type="email" id="update-email" aria-describedby="emailHelp" value=`${user.email}`)
                    .form-group.file-upload
                        img#settings-user-photo.rounded-circle.mr-3.mt-3(src=`https://lisaslist-assets.s3.us-east-2.amazonaws.com/users/${user.photo}`)
                        input#user-photo-upload.form-control-file.align-self-center.w-25.ml-3(type="file" accept='image/*' onchange="document.getElementById('settings-user-photo').src = window.URL.createObjectURL(this.files[0])")
                
                    .move-button.text-center
                        h6.text-muted.mb-5 Photo will be automatically cropped on upload
                        button(type="submit" class="btn btn-primary w-50") Update User Settings
                hr
                h4.mt-3 Your Password Settings
                form.user-password
                        .form-group
                            label(for="passwordCurrent") Current Password
                            input(type="name" class="form-control" id="passwordCurrent" placeholder='••••••••')
                        .form-group
                            label(for="password") New Password
                            input(type="name" class="form-control" id="password" placeholder='••••••••')
                        .form-group
                            label(for="passwordConfirm") Confirm Password
                            input(type="name" class="form-control" id="passwordConfirm" placeholder='••••••••')
                        .move-button.text-center
                            button(type="submit" class="btn btn-primary w-50 mt-3") Change password
                        