extends base


block content
    #reset-password.container
        .row
            .col.my-5
                .card.card-body
                    h3.pb-4 Reset Password
                    form.reset-password-form
                        .form-group.pb-3
                            label(for="password") Confirm Password
                            input(type="password" class="form-control" id="reset-forgot-password" minlength="8")

                        .form-group.pb-3
                            label(for="passwordConfirm") Confirm Password
                            input(type="password" class="form-control" id="reset-forgot-password-confirm" minlength="8")
   
                        button.mb-3(type="submit" class="btn btn-block btn-primary") Reset Password
                        .text-center
