extends base


block content
    #signup.container
        .row
            .col.mx-auto.mt-5
                .card.card-body
                    h3.mt-5.pb-3 Join Now!
                    form.signup-form
                        .form-group
                            label(for='name') Name
                            input.form-control(type="name" id="name")
                        .form-group
                            label(for="email") Email address
                            input.form-control(type="email" id="email" aria-describedby="emailHelp")
                            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                        .form-group
                            label(for="password") Password
                            input(type="password" class="form-control" id="password" minlength="8")
                            small.form-text.text-muted Password must be at least 8 characters long
                        .form-group
                            label(for="password") Confirm Password
                            input(type="password" class="form-control" id="passwordConfirm" minlength="8")
         
                        .form-group.form-check
                            input(type="checkbox" class="form-check-input" id="exampleCheck1")
                            label.form-check-label(for="exampleCheck1") I agree to 
                            a(href='#') Terms and Services
   
                        button.mb-5(type="submit" class="btn btn-primary btn-block") Sign Up
            