body {
  background-color: #77cef034;
  font-family: 'Raleway';
}

.alert {
  position: fixed;
  top: 0;
  left: 30%;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 9999;
}

.alert-success {
  background-color: #20bf6b;
}

.alert-error {
  background-color: #eb4d4b;
}

#user-img-btn {
  height: 40px;
}

.my-container {
  width: 90%;
  margin: auto;
}

.grid-item {
  width: 20%;
}

.filter {
  min-height: 400px;
}

#product {
  box-shadow: 0 10px 20px #77cef0a2, 0 6px 6px #77cef0b0;
}

#modal-img {
  max-height: 700px;
}

#settings-user-photo {
  height: 150px;
}

@media (max-width: 768px) {
  .grid-item {
    width: 50%;
  }
}
