* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #77cef034;
  font-family: 'Lato';
}

/* UTILITY */
 {
  max-width: 1504px;
}

.container-xxl,
.wrapper {
  max-width: 1504px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 6666;
}

.alert-success {
  background-color: #153dac;
}

.alert-error {
  background-color: #f82793;
}

/* HEADER */

#logo {
  max-height: 60px;
}

#header-user-img {
  height: 60px;
  width: 60px;
}

#main-nav {
  background-image: linear-gradient(to bottom right, #153dac, #77cef0);
}

#main-nav .menu-item {
  color: #153dac;
  font-size: 1.25rem;
}

#main-nav .menu-item:hover {
  color: #fff;
}

/* LOGIN & SIGNUP PAGES */

#login .card,
#signup .card,
#forgot-password .card,
#reset-password .card {
  box-shadow: 0 10px 20px #77cef0a2, 0 6px 6px #77cef0b0;
  margin: auto;
  min-height: 500px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  color: #4a4a4a;
}

#login h3,
#signup h3,
#forgot-password h3,
#reset-password h3 {
  font-size: 2rem;
  color: #153dac;
}

#login .login-form,
#signup .signup-form,
#forgot-password .forgot-password-form,
#reset-password .reset-password-form {
  width: 80%;
}

#login .login-form a {
  text-decoration: none;
  color: #777;
}

#login .login-form a:hover {
  color: #333;
}

/* OVERVIEW PAGE */

.banner {
  position: relative;
  font-family: 'Raleway';
  color: #153dac9f;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77cef065;
  margin-top: 10px;
  border-radius: 10px;
  max-height: 50px;
  box-shadow: 0 1px 2px #00000025, 0 4px 4px #00000013;
}

.banner h5 {
  font-size: 1.5rem;
}

#banner-img {
  max-height: 90px;
}

/* FILTER BAR */
.panel {
  color: #153dac !important;
}

#filter .price-min,
#filter .price-max {
  width: 30%;
  text-align: center;
  padding: 3px;
}
#accordion .panel {
  border-radius: 0;
  border: 0;
  margin-top: 0px;
}
#accordion a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #153dac;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.15rem;
}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus {
  background-color: #153dac;
  color: white;
  transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before {
  color: white;
}
#accordion .panel-heading {
  padding: 0;
  border-radius: 0px;
  text-align: center;
}
#accordion .panel-heading a:not(.collapsed) {
  color: white;
  background-color: #153dac;
  transition: all 0.2s ease-in;
}

#accordian .nav-link:hover {
  color: #153dac69;
}

/* Add Indicator fontawesome icon to the left */
#accordion .panel-heading .accordion-toggle::before {
  font-family: 'FontAwesome';
  content: '\f00d';
  float: left;
  color: white;
  font-weight: lighter;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}
#accordion .panel-heading .accordion-toggle.collapsed::before {
  color: #153dac;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}

/* PRODUCT CARDS */
.grid-item {
  width: 20%;
}
#product .card {
  box-shadow: 0 10px 20px #77cef0a2, 0 6px 6px #77cef0b0;
}

#product a {
  cursor: pointer;
}

#product {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

#product:hover {
  z-index: 6666;
  /* background-color: #77cef0; */
  transform: scale(1.2);
}

#product .card-price {
  font-size: 1.5rem;
  font-weight: 700;
}

#product .card-name {
  font-size: 1.25rem;
}

/* MY SETTINGS */
#settings-user-photo {
  height: 150px;
  width: 150px;
}
#settings-product-photo {
  height: 150px;
}

.me-links {
  background-image: linear-gradient(to bottom right, #153dace8, #77cef0);
  border-radius: 10px;
  margin-top: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.me-links .active a {
  border: #fff 2px solid;
  border-radius: 5px;
}

.me-links hr {
  background-color: #fff;
}

.me-links a {
  color: #fff;
  display: inline-block;
  margin-top: 5px;
}

.me-links a:hover {
  transition: all 0.25s ease-out;
  transform: translate(10px);
  border-left: #fff 2px solid;
}

.me-settings,
.me-listings,
.me-listings-edit,
.me-review,
.me-purchases {
  font-family: 'Raleway';
  color: #4a4a4a;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}

.me-settings h4,
.me-listings h4,
.me-listings-edit h4,
.me-review h4,
.me-purchases h4 {
  color: #153dac;
  font-size: 2rem;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
}

.me-settings form,
.me-listings form,
.me-listings-edit form,
.me-review form,
.me-purchases form {
  width: 75%;
  margin: auto;
}

.file-upload {
  display: flex;
  justify-content: center;
}

.move-button h6 {
  font-size: 0.9rem;
}

.move-button {
  margin-bottom: 20px;
}

/* MY LISTINGS */

.me-listings .card-img {
  height: 50%;
}

.me-listings .card-footer {
  background-color: #fff;
  border: none;
  margin-bottom: 10px;
}

.me-listings-edit .card-footer {
  background-color: transparent;
  border: none;
}

.me-listings-edit .update-product-btn {
  color: #153dac;
}

.me-listings-edit .update-product-btn:hover {
  color: #fff;
}

.me-listings-edit .delete-product-btn {
  color: #dc3545;
}

.me-listings-edit .delete-product-btn:hover {
  color: #fff;
}

.me-listings .card {
  max-height: 450px;
  height: 100%;
  margin-bottom: 20px;
}

/* PRODUCT MODAl */

.modal {
  z-index: 9999;
  font-family: 'Raleway';
}

.modal-content {
  position: relative;
}

.modal-body {
  min-height: 600px;
  background-image: linear-gradient(to bottom right, #153dace8, #77cef0);
  padding: 0;
  margin: 0;
}

#modal-img {
  max-width: 100%;
  border: #77cef0 5px solid;
}

/* .modal .purchase-btn {
  position: absolute;
  top: 90%;
  left: 29%;
  background-color: #c286f3;
  color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.25rem;
}

.modal .purchase-btn:hover {
  color: #2e0152;
} */

.modal .modal-title {
  font-size: 2rem;
  color: #153dac;
}

.modal .seller-details img {
  max-height: 200px;
}

.modal .seller-details {
}

.modal .close {
  padding-left: 10px;
  padding-right: 10px;
  color: #153dac;
}

.modal .photo-side {
  background-color: #000;
}

.reputation-star-active {
  color: #153dac;
  display: block;
}

.reputation-star-inactive {
  color: #999;
}

/* FOOTER */
#footer {
  min-height: 80px;
  border-top: #153dac 3px solid;
  color: #153dac;
  margin-top: 10px;
  background-color: #77cef080;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .grid-item {
    width: 33.33%;
  }
  #accordian .nav-link {
    font-size: 0.5rem;
  }
}

@media (max-width: 768px) {
  .grid-item {
    width: 50%;
  }

  #logo {
    max-height: 40px;
  }
}
